html {
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
    width: 500px;
    
}

.features {
    display: flex;
    justify-content: space-between;
}

.score {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    margin-left: 5px;
}

.reset {
    border: none;
    margin-right: 5px;
    padding: 4px 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
}

.reset:hover,
.reset:focus {
    background-color: rgb(6, 167, 126);
    // border: 1px solid black;
}

.memoryGame {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 5000px;
}

.memoryCard {
    width: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    backface-visibility: hidden;  
    background: none;
    border: none;
}

.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    // width: 100%;
    // height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.front {
    background-color: rgb(233, 14, 116);
    transform: rotateY(180deg);
}

.back {
    background-color: rgb(6, 167, 126);
}

.memoryCard:hover .back .fas,
.memoryCard:focus .back .fas {
    font-size: 8rem;
    text-shadow: 10px 5px 2px black;
    transition: text-shadow 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.front .fas {
    text-shadow: 3px 3px 0 black;
}

.fas {
    font-size: 7rem;
    display: block;
    color: white;
}



// MEDIA QUERIES

@media (max-width: 550px) {
    
    .wrapper {
        width: 350px;
    }

    .memoryGame {
        width: 350px;
        height: 400px;
    }
    
    .fas {
        font-size: 5rem;
    }

    .memoryCard:hover .back .fas,
    .memoryCard:focus .back .fas {
        font-size: 5.5rem;
        text-shadow: 10px 5px 2px black;
        transition: text-shadow 0.2s ease-in-out, font-size 0.2s ease-in-out;
    }
}